.ml-auto{
   /*text align center  margin: auto auto auto auto;*/
   margin-left: auto;
   margin-right: 10px;
}
 
 .texth1{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
     size:4rem;
     line-height: 1.5;
     color:white;
 }
 
 
.left{
    margin-left:0px;
} 
#sukhad{
    position:relative;
    padding: 3% 15%;
    background-color: #ff4c68;
}
 .second{
     position:relative;
     padding: 7% 15%;}
.nav-item:hover{
    background-color:pink;
}
.nav-item{
     padding:0 18px;
}
img{
    width: 60%;
    margin-left: 50px;
    transform: rotate(25deg);
}
.coor{
    color:pink;
}
.third{
    padding: 3% 15%;
    text-align: center;
    background-color:  #ff4c68;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
     
     
    
}
.Fourth{     position: relative;
    margin-top: 0px;
    bottom: 20px;
    padding: 3% 15%;
}
 .fifth{
     text-align:center;
     padding: 3% 15% 0% 15%;
 }
.border{
    position: relative;
    border:1px;
}
.sixth{
    
    padding: 1% 15% 3% 15% ;
    margin-top: 0px;
}
.col-md-6{
    margin-bottom: 10px;
}
.pricing{
     padding-right:10%;
}
 .body{
     width:100%;
 }
header{
    position:relative;

}
.z-index{
    
     position:  relative;
     z-index:1;
     background-color: aliceblue;
     bottom:150px;
}
@media (max-width:830px) and (min-width:745px){
    .z-index{
        position:static;
    }
    header{
        position:static;

    }
}
.spacing{
    position:relative;
    bottom:150px;
}
#seventh{
    padding:5% 15%;
}
.seventh_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:white;
}
.logo{
    margin:1%;
}
#eight{
    padding: 5% 0%;
}
@media (max-width: 350px){
        .z-index{
            position:static;
        }
        header{
            position:static;
    
        }
         
}
 